/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2014, 5:08:50 PM
    Author     : shdinesh.99
*/

table.scroll {
    /* width: 100%; */ /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    border: 0px solid oldlace;
    border-bottom: 0px solid #111111;
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th { 
    height: 20px;
    line-height: 20px;
    background-color: #3e65f2;
    color: white;

    /* text-align: left; */
}
thead tr td { 
    height: 20px;
    line-height: 20px;
    background-color: #777;
    color: papayawhip;
    text-align: center;

    /* text-align: left; */
}

table.scroll tbody {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody { border-top: 0px solid oldlace;border-bottom: 1px solid #000; }

table.scroll tbody td{
    //width: 120px; 
    border-right: 0px solid oldlace;
    border-bottom: 1px solid oldlace;
    // max-width: 120px;
    // min-width: 110px;
}
table.scroll thead th{
    //width: 115px; 
    border-right: 0px solid oldlace;
    //max-width: 115px;
    //min-width: 115px;
}
/*tbody td, thead th {
    width: 50%; Optional 
    border-right: 1px solid black;
     white-space: nowrap; 
}*/

tbody td:last-child, thead th:last-child {
    border-right: 0px solid oldlace;
}