/* 
    Document   : check_box_css
    Created on : Aug 8, 2013, 1:59:41 PM
    Author     : RSZ
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

label {
    display: inline;
}
 
.regular-checkbox {
    display: none;
}
 
.regular-checkbox + label {
    background-color: white;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
 
.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
.regular-checkbox:checked + label {
    background-color: #ffcccc;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #ff0000;
}
 
.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #ff0000;
}
 
 
.big-checkbox + label {
    padding: 20px;
}
 
.big-checkbox:checked + label:after {
    font-size: 28px;
    left: 6px;
}
 
.tag {
    font-family: Arial, sans-serif;
    width: 200px;
    position: relative;
    top: 5px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    float: left;
}

