body {
    background-color: #ededed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    color: #898989;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    background-image: url(synlime/images/bg.jpg);
    background-repeat: repeat;
    background-position: left top;
}
#mainTable {
    margin: 0px;
    padding: 0px;
    position: absolute;
    height:100%;
    width:100%;
}
#mainTable #headerRow {
    height: 70px;
    background-color: #FFFFFF;
    background-image: url(synlime/images/headerBg.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size:cover;
}
#mainTable #menuRow {
    height: 43px;
    background-image: url(synlime/images/menurep.png);
    background-repeat: repeat-x;
    background-position: left top;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#mainTable #footerRow {
    height: 67px;
    padding-top: 12px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-image: url(synlime/images/footerrep.png);
    background-repeat: repeat-x;
    background-position: left top;
}

#mainTable #menuRow td {
    vertical-align: top;
}
#mainTable #headerRow td #logo {
    float: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}
#mainTable #headerRow td #userAndTime {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal; 
    line-height: 24px;
    font-weight: normal;
    font-variant: normal;
    color: #009933;
    padding: 0px;
    float: right;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align:right;
}
.ContentTableTitleRow{
    background-color: #3B84A8;
/*    background-color: #206E94;*/
   
    /*    background-color: #15c2c8;
   1c4d67 */
    color: #FFFFFF;
    font-weight:bold;

}
div{
    margin:0px;
    padding:0px;
}
#content{
    background-color: #fff;
    border: solid 1px #1c4d67;
    padding: 10px;
}
input[type=text], input[type=password],textarea {
    background-color:#fcfcfc;
    border:1px solid #d1d1d1;
    -webkit-border-radius: 4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    border-radius: 4px;
    padding:5px;
    width: 90%;
    color: #898989;	
}
input[type=text]:focus, input[type=password]:focus, textarea:focus{
    outline: 0;	
    -webkit-box-shadow: 0px 0px 10px 1px #e7e7e7;
    -moz-box-shadow: 0px 0px 10px 10px #e7e7e7;
    box-shadow: 0px 0px 10px 1px #e7e7e7;
    background:#FFF;
}
input[type=submit]{
    background-color: #206E94;
    background-image: none;
    border: 1px solid #009999;
    color: #FFF;
    background-repeat: no-repeat;
    margin: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    border-radius: 4px;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;

}

input[type=submit]:hover{
    background-color: #4297C0;
       -webkit-box-shadow: 0px 0px 10px 1px #206E94;
        -moz-box-shadow: 0px 0px 10px 10px #206E94;
        box-shadow: 0px 0px 10px 1px #206E94;
    cursor:pointer;
    cursor:hand;
}

input[type=button], input[type=reset]{
      background-color: #206E94;
    background-image: none;
    border: 1px solid #009999;
    color: #FFF;
    background-repeat: no-repeat;
    margin: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    border-radius: 4px;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;

}
input[type=button]:hover, input[type=reset]:hover{
    background-color:#4297C0;
  -webkit-box-shadow: 0px 0px 10px 1px #206E94;
        -moz-box-shadow: 0px 0px 10px 10px #206E94;
        box-shadow: 0px 0px 10px 1px #206E94;
    cursor:pointer;
    cursor:hand;
}
input[type=button]:focus, input[type=reset]:focus, input[type=submit]:focus{
    outline:0;
}
select{
    background-color:#fcfcfc;
    border:1px solid #d1d1d1;
    -webkit-border-radius: 4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    border-radius: 4px;
    padding:5px;
    width: 95%;
    color: #898989;
}
select:focus{
    outline: 0;	
    -webkit-box-shadow: 0px 0px 10px 1px #e7e7e7;
    -moz-box-shadow: 0px 0px 10px 10px #e7e7e7;
    box-shadow: 0px 0px 10px 1px #e7e7e7;
    background:#FFF;
}


.TitleHeader {
    font-weight: bold;
    color: #FFF;
    padding: 10px;
    width: auto;
    background-color: #1c4d67;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}




.PageTile {
    font-family:  Georgia, "Times New Roman", Times, serif;
    padding: 0px;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-align: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    border-bottom:solid 1px #CCC;
}

.SubTile {
    font-family:  Georgia, "Times New Roman", Times, serif;
    padding: 8px;
    font-size: 17px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-align: left;
    margin-top: 0px;
}
.Box{
    -webkit-box-shadow: 0px 0px 10px 1px #CCC;
    -moz-box-shadow: 0px 0px 10px 10px #CCC;
    box-shadow: 0px 0px 10px 1px #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    padding:0px;
    margin:0px 0px 30px 0px;
}

.SytemTable {
    margin: 0px;
    padding: 0px;
    border:solid 1px #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    border-radius: 4px;
}
.SytemTable td{
    padding:8px;
    color:#666666;
}
.SytemTable thead tr{
    /*background-color: #67C76F;*/
    background-image:url(tableheader.jpg);
    background-repeat:repeat-x;
    background-position:center;
}
.SytemTable thead tr td{
    text-align:center;
    font-weight:700;
    padding-top:11px;
    padding-bottom:11px;
}
.SytemTable tbody tr{
    background-color: #EAEAEA;
}
.SytemTable tbody tr td{
    border-top:solid 1px #cccccc;
    border-right:solid 1px #cccccc;
}
.SytemTable tbody tr td:last-child{
    border-top:solid 1px #cccccc;
    border-right:none;
}
.SytemTable thead tr td{
    border-right:solid 1px #FFFFFF;
}
.SytemTable thead tr td:last-child{
    border-right:none;
}
.SytemTable thead tr td:last-child{
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius:0px 4px 0px 0px;
    -ms-border-radius:0px 4px 0px 0px;
    border-radius: 0px 4px 0px 0px;
}
.SytemTable thead tr td:first-child{
    -webkit-border-radius: 4px 0px 0px 0px;
    -moz-border-radius:4px 0px 0px 0px;
    -ms-border-radius:4px 0px 0px 0px;
    border-radius: 4px 0px 0px 0px;
}
.SytemTable tbody tr:last-child td:last-child{
    -webkit-border-radius: 0px 0px 4px 0px;
    -moz-border-radius:0px 0px 4px 0px;
    -ms-border-radius:0px 0px 4px 0px;
    border-radius: 0px 0px 4px 0px;
}
.SytemTable tbody tr:last-child td:first-child{
    -webkit-border-radius: 0px 0px 0px 4px;
    -moz-border-radius:0px 0px 0px 4px;
    -ms-border-radius:0px 0px 0px 4px;
    border-radius: 0px 0px 0px 4px;
}
.SytemTable tbody tr:nth-child(odd){ background-color:#ffffff}
.SytemTable tbody tr:nth-child(even)    { background-color:#ffffff }
.SytemTable tbody tr:hover{
    background-color: #E2F7F8;
}








/***********************
***********************
***********************
***********************
***********************/


.regular-checkbox {
    display: none;
}

.regular-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}
.regular-radio {
    display: none;
}

.regular-radio + label {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}

.regular-radio:checked + label:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background: #99a1a7;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    text-shadow: 0px;
    left: 3px;
    font-size: 32px;
}

.regular-radio:checked + label {
    background-color: #e9ecee;
    color: #99a1a7;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio + label:active, .regular-radio:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

/*///////////////////////////////////*/
.SytemTable2 {
    margin: 0px;
    padding: 0px;
    border:solid 1px #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    border-radius: 4px;
}
.SytemTable2 td{
    padding:5px;
    color:#666666;
}
.SytemTable2 thead tr{
    /*background-color: #67C76F;*/
    background-image:url(tableheader.jpg);
    background-repeat:repeat-x;
    background-position:center;
}
.SytemTable2 thead tr td{
    text-align:center;
    font-weight:700;
    padding-top:5px;
    padding-bottom:5px;
}
.SytemTable2 tbody tr{
    background-color: #EAEAEA;
}
.SytemTable2 tbody tr td{
    border-top:solid 1px #cccccc;
    border-right:solid 1px #cccccc;
}
.SytemTable2 tbody tr td:last-child{
    border-top:solid 1px #cccccc;
    border-right:none;
}
.SytemTable2 thead tr td{
    border-right:solid 1px #FFFFFF;
}
.SytemTable2 thead tr td:last-child{
    border-right:none;
}
.SytemTable2 thead tr td:last-child{
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius:0px 4px 0px 0px;
    -ms-border-radius:0px 4px 0px 0px;
    border-radius: 0px 4px 0px 0px;
}
.SytemTable2 thead tr td:first-child{
    -webkit-border-radius: 4px 0px 0px 0px;
    -moz-border-radius:4px 0px 0px 0px;
    -ms-border-radius:4px 0px 0px 0px;
    border-radius: 4px 0px 0px 0px;
}
.SytemTable2 tbody tr:last-child td:last-child{
    -webkit-border-radius: 0px 0px 4px 0px;
    -moz-border-radius:0px 0px 4px 0px;
    -ms-border-radius:0px 0px 4px 0px;
    border-radius: 0px 0px 4px 0px;
}
.SytemTable2 tbody tr:last-child td:first-child{
    -webkit-border-radius: 0px 0px 0px 4px;
    -moz-border-radius:0px 0px 0px 4px;
    -ms-border-radius:0px 0px 0px 4px;
    border-radius: 0px 0px 0px 4px;
}
.SytemTable2 tbody tr:nth-child(odd){ background-color:#FFFFFF; }
.SytemTable2 tbody tr:nth-child(even)    { background-color:#f7f7f7; }
.SytemTable2 tbody tr:hover{
    background-color: #e5ecd4;
}


.free-issue-item-background-left {
    margin:  4px 0px 4px 0px; 
    border-radius: .6em 0em 0em .6em;
}

.free-issue-item-table-left {
    padding: 0px; 
    margin: 0px;
    border-spacing: 0px;
}
.free-issue-item-table-left tr td {
    background-color: #d8f288;
}
.free-issue-item-background-right {
    border-left: 10px;
    margin: 4px 0px 4px -2px;
    border-radius: 0em .6em .6em 0em;
}

.free-issue-item-background-right, .free-issue-item-background-left {
    padding: 0px; 
    background-color: #d8f288;
    border: solid 5px #d8f288;
}

.free-issue-arrow {
    padding: 0px;
    margin:  5px 0px 5px 0px;
    /* right: -1em; */
    height: 40px;
    width: 0px;
    color: #d8f288;

}

.free-issue-item{
    position: relative;
    display: block;
    padding: .6em .6em .6em 1em;
    *padding: .6em;
    border: 1px solid #2e362b;
    background: #FFFFFF;
    color: #666666;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
    font-size: 12px;
}

.PageSummery {
    margin: 0px 0px 0px 0px;
}
.PageSummery tr td {
    background-color: wheat;
    color: #666666;
    font-size: 13px;
}
.PageSummery .Special td {
    background-color: goldenrod;
    color: #FFF;
    font-size: 13px;
}

.ViewPanel{
    padding: 10px;
    border: solid 1px #8bb628;
    height: 250px;
    margin: 0px 0px 30px 0px;
}

.pagination a .pagination strong{
    background: #15c2c8;
    padding: 4px  7px;
    text-decoration: none;
    border: 1px solid #003399;
    color: #009933;
    font-size: medium;  
}
.pagination strong .pagination a:hover{
    font-weight: normal;
    background: #E2F7F8;


}



 public--->templateobjects---->UI-----> template


.reportTable {
    margin: 0px;
    padding: 0px;
    border:solid 1px #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    border-radius: 4px;
}
.reportTable td{
    padding:8px;
    color:#666666;
}
.reportTable thead tr{
    background-color: #003366;
    color:  #ffffff;
    /*background-image:url(tableheader.jpg);*/
    background-repeat:repeat-x;
    background-position:center;

}
.reportTable thead tr td{
    color:  #ffffff;
    text-align:center;
    font-weight:700;
    padding-top:11px;
    padding-bottom:11px;
}
.reportTable tbody tr{
    background-color: #EAEAEA;
}
.reportTable tbody tr td{
    border-top:solid 1px #cccccc;
    border-right:solid 1px #cccccc;
}
.reportTable tbody tr td:last-child{
    border-top:solid 1px #cccccc;
    border-right:none;
}
.reportTable thead tr td{
    border-right:solid 1px #FFFFFF;
}
.reportTable thead tr td:last-child{
    border-right:none;
}
.reportTable thead tr td:last-child{
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius:0px 4px 0px 0px;
    -ms-border-radius:0px 4px 0px 0px;
    border-radius: 0px 4px 0px 0px;
}
.reportTable thead tr td:first-child{
    -webkit-border-radius: 4px 0px 0px 0px;
    -moz-border-radius:4px 0px 0px 0px;
    -ms-border-radius:4px 0px 0px 0px;
    border-radius: 4px 0px 0px 0px;
}
.reportTable tbody tr:last-child td:last-child{
    -webkit-border-radius: 0px 0px 4px 0px;
    -moz-border-radius:0px 0px 4px 0px;
    -ms-border-radius:0px 0px 4px 0px;
    border-radius: 0px 0px 4px 0px;
}
.reportTable tbody tr:last-child td:first-child{
    -webkit-border-radius: 0px 0px 0px 4px;
    -moz-border-radius:0px 0px 0px 4px;
    -ms-border-radius:0px 0px 0px 4px;
    border-radius: 0px 0px 0px 4px;
}
.reportTable tbody tr:nth-child(odd){ background-color:#ffffff}
.reportTable tbody tr:nth-child(even)    { background-color:#ffffff }
.reportTable tbody tr:hover{
    background-color: #E2F7F8;
}


